@import "../../global.scss";

.effetto-frasi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  color: $primary-color;
}

.arrow-container {
  flex: 1;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.arrow {
  cursor: pointer;
  animation: bounce 1s infinite, arrowBlink 2s infinite; /* Aggiunta dell'animazione di blink */
}

.container_slogan {
  margin: 0 20vw;
  padding: 15vh 0 5vh;
  display: flex;
  flex-direction: column;
  .flex-end {
    text-align: end;
  }
  .small_p {
    font-size: 14px;
  }
}

.sentence {
  height: 100%;
  font-size: 5rem;
  color: $primary-color;
  text-align: center;
  animation: effectSlogan;
  animation-duration: 1s;
  letter-spacing: 8px;
}

@media screen and (max-width: 767px) {
  .sentence {
    font-size: 2.5rem;
    letter-spacing: 8px;
  }
}

@keyframes effectSlogan {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes arrowBlink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
