@import "../../global";
.card {
  display: flex;
  align-items: center;
  width: 40%;
  color: $lobster-color;
  transition: 0.5s;

  .logo {
    height: 125px;
    width: 125px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
  .container_description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 15px;
  }
  .title {
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 20px;
  }
  p {
    font-size: 12px;
    color: $secondary-color;
    margin-bottom: 20px;
    font-family: $default-font;
  }

  .discover_btn {
    font-weight: 700;
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      margin-right: 10px;
      color: $lobster-color;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        opacity: 0.7;
      }
    }
    ion-icon {
      color: $lobster-color;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
@media screen and (max-height: 450px) {
  .card {
    .title {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    &:hover {
      transform: unset;
      transition: unset;
    }
  }
}
